.image{
    display: flex;
    justify-content: center;
}
.new{
    position: absolute;
    text-align: center;
    font-family: Merriweather;
    font-weight: 400;
    line-height: normal;
    color: rgb(243, 227, 191);
    font-size: 32px;
    margin-top: 40px;
}
.offer >h1{
    color: rgb(241, 30, 30);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer >h6{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}
.offer >h6 span{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
     font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer > div{
    display: flex;
    justify-content: center;
}
.image2{
    display: flex;
    justify-content: center;
}
.wlc{
    position: absolute;
    color: antiquewhite;
    margin-top: 50px;
    text-align:left;
    display: flex;
}
.join{
    background-color:burlywood;
    color: antiquewhite;
}
.shadow{
    background-color: rgb(254, 188, 164);
    margin-top: 50px;
    border-radius: 10px;
}
.o{
    color: #F00;
}
.class{
    display: flex;
    justify-content: center;
    

}
li{
    list-style: none;
}
.come-container{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    gap:50px;
    
}
.come-text>h5{
    color:#FF0000;
    font-size: 24px;
    
}
.come-text>h3{
    color:#070211;
    font-size:48px ;
    font-weight: 900;
    margin :-12px 0px;

}
.come-text>p{
    color:#07021199;
    font-size: 20px;


}
.come-text{
    width: 400px;
    
}
.come-description>h3{
    color:#FF0000;
    font-size: 40px;

}
.come-description>p{
    color: #07021199;
    font-size: 20px;
}
.come-description{
    width: 400px;
}
.k{
 border-radius:100%;
 border: 12px solid white ;

}
.come-img{
    border-radius:100%;
    border: 8px solid red ; 
}
.d>h5{
    color: #070211;
    font-size: 20px; 
    text-align: center;
    padding-top: 50px;

}
.i{
    color: #F00;
  
}
.holiday{
    text-align: center;
    font-size: 50px;

}
.d>p{
    color:#07021199;
    font-size: 30px;
    text-align: center;
    
}

.group{
    display: flex;
    justify-content: center;
}
.grp2{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    list-style: none;
    margin-left: 151px;
    margin-bottom: -1px;
    position: absolute;
}
.BEST>h5{
    color:#FF0000;
    font-size: 20px;
    width: 200px;

}
.BEST>h3{
    color: #070211;
    font-size: 50px;
    
}
.BEST>p{
color: #07021199;
font-weight: 400;

}

 


